{% extends "base.html" %}

{% block extra_head %}

    <link type="text/css" href="{{STATIC_URL}}css/style.css" rel="stylesheet" />
    <script src="{{STATIC_URL}}lib/d3.v3/d3.v3.js"></script>
    <script src="{{STATIC_URL}}lib/d3.v3/d3-tip.js"></script>
    <script src="{{STATIC_URL}}lib/polymaps/polymaps.js"></script>
    <script src="{{STATIC_URL}}lib/mobility-vis/mobility-datastore.js"></script>
    <script src="{{STATIC_URL}}lib/mobility-vis/mobility-log.js"></script>
    <script src="{{STATIC_URL}}lib/mobility-vis/mobility-timeline.js"></script>
    <script src="{{STATIC_URL}}lib/mobility-vis/mobility-map.js"></script>
    <script src="{{STATIC_URL}}lib/mobility-vis/mobility-overlay.js"></script>
    <script src="{{STATIC_URL}}lib/mobility-vis/mobility-gui.js"></script>
    <script src="{{STATIC_URL}}lib/mobility-vis/mobility-detailview.js"></script>
    <script src="{{STATIC_URL}}lib/mobility-vis/mobility-point.js"></script>
    <script src="{{STATIC_URL}}lib/mobility-vis/mobility-help.js"></script>
    <script src="{{STATIC_URL}}lib/jquery/jquery.min.js"></script>
    <script src="{{STATIC_URL}}lib/jquery/jcookie-min.js"></script>
    <script src="{{STATIC_URL}}lib/jStorage/jstorage.min.js"></script>
    <script type="text/javascript">
        console.log(' {{token_loc}}');
        function fetchStops() {
            $.ajax({
                url: "http://raman.imm.dtu.dk:8083/andrea/sensible-dtu/connectors/connector_answer/v1/stops_question/stops_answer/",
                data: { 'bearer_token': '{{ token_loc }}', 'limit': 10 },
                success: function (response) {
                    console.log('received response');
                    console.log(response);
                    $('#output').text(JSON.stringify(response))
                }
            });
        }

        function uploadUsage() {
            console.log( {
                'bearer_token': '{{ token_loc }}',
                'appid': 'sensibleexplorer',
                'events': '[[10000, "test123"]]'
            });
            $.ajax({
                url: "http://raman.imm.dtu.dk:8083/andrea/sensible-dtu/connectors/connector_funf/usage/",
                type: "POST",
                data: {
                    'bearer_token': '{{ token_loc }}',
                    'appid': 'sensibleexplorer',
                    'events': '[[10000, "test123"]]'
                },
                success: function (data, textStatus, jqXHR) {
                    console.log(data)
                    console.log(textStatus)
                    $('#output').text(textStatus + ' | ' + data)

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.responseText)
                    console.log(jqXHR.statusText)
                    $('#output').text(jqXHR.responseText + ' | ' + jqXHR.statusText)
                }
            });
        }

    </script>

     <script>
         var mmap;
         var CLIENT_ID = "4FFPRAEN5QDVQMSC4GUIOXWUV5HQ5G5JX00XDO1V0KH3MH1Y";

         var CLIENT_SECRET = "VXGOHMEKIVTMMDI4XHEX4JEUB5NHN1QBO5TSOMSIHHMNPYVR";
         var ICON_URL = "{{STATIC_URL}}data/arrow.png";

         $(document).ready(function () {
             po = org.polymaps;

             $.mlog = new mobility_log("http://raman.imm.dtu.dk:8083/andrea/sensible-dtu/connectors/connector_funf/usage/",
                 '{{ token_loc }}');
             mdata = new mobility_datastore("http://raman.imm.dtu.dk:8083/andrea/sensible-dtu/connectors/connector_answer/v1/stops_question/stops_answer/",
                                                { 'bearer_token': '{{ token_loc }}'});
             

             mmap = new mobility_map("vismap", 55.751849, 12.535186, mdata);
             moverlay = new mobility_overlay("vismap", mdata);
             mhelp = new mobility_help("vismap", moverlay);
             moverlay.setRefs(mmap, mhelp);
             mmap.setRefs(moverlay, mhelp);


             // addEventListener("overlayClosed", function () { delete moverlay});

             $(window).resize(function () {
                 mmap.redraw();
                 moverlay.redraw();
                 mhelp.redraw();
             });
         })
        </script>

{% endblock %}



{% block content %}

{% if user.is_authenticated %}

<div id="svg-container" style="">
        <div id="vismap"></div>
    </div>



{% else %}
<div class="page-header">
    <h1>Please log in</h1>
</div>
{% endif %}

{% endblock %}
